{% extends "layout.html" %}

{% block main %}
<table id="t03">
    <thead>
        <tr width="100%">
            <th width="37%"><img src="http://cdn3.bigcommerce.com/s-y04q0ihv/product_images/uploaded_images/oldharvardyardsmaller3.jpg?t=1448545881" alt="harvard yard"/></th>
            <th width="26%"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3a/Harvard_Wreath_Logo_1.svg/1051px-Harvard_Wreath_Logo_1.svg.png" alt="harvard logo"/></th>
            <th width="37%"><img src="https://pa-hrsuite-production.s3.amazonaws.com/606/docs/538092.jpg" alt="widener"/></th>
        </tr>
    </thead>
</table>
<br>
<p>
    Harvard has abundant resources to help you during your time as a student (and beyond!), but it can sometimes be daunting to navigate them all.
    Use this website to find resources that are right for you, including tutoring, counseling, peer education, advising, and more.
</p>
<p class="p01">
    <b>Search for resources by filters <a href="/search">here</a> or browse all of them in one place <a href="/resources">here</a>.</b>
</p>
<p>
    Already know what you're looking for? Use the search bar to link directly to the website.
</p>
<form id="form">
    <div class="form-group">
        <label class="sr-only" for="q">Name</label>
        <input class="form-control" id="q" placeholder="Name of Resource" type="text"/>
    </div>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<foot>
    <p>
        Image Sources: <a href="http://cdn3.bigcommerce.com/s-y04q0ihv/product_images/uploaded_images/oldharvardyardsmaller3.jpg?t=1448545881"=>Left</a>,
        <a href="https://upload.wikimedia.org/wikipedia/en/thumb/3/3a/Harvard_Wreath_Logo_1.svg/1051px-Harvard_Wreath_Logo_1.svg.png">Middle</a>,
        <a href="https://pa-hrsuite-production.s3.amazonaws.com/606/docs/538092.jpg">Right</a>.
    </p>
</foot>
{% endblock %}